body{
    min-height: 100vh; /* will cover the 100% of viewport */
    display: block;
    position: relative;
    padding-bottom: 140px; /* height of your footer */
}
.filter-box{
    padding-left: 50px;
}

.test2{
    width: 100%;
    height: 250px;
background-image: url("./images/Welcome_Banner_v2.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}
/**
 * border radius
 */


 
 /* cart badge */
 
 .cart-badge,
 .cart-badge:hover {
     border-radius: 50%;
     padding: 2px;
     font-size: 12px;
     font-style: italic;
     background: #000;
 }
 /**
  * single product page - product name
  */
 
 .name {
     background: indigo;
     color: #fff;
     font-weight: bold;
 }
 
 .productContainer{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: center;
    margin-top: 50px;
    
 } 

 .ProductImage{
 width: 500px ;
    height: 500px ;
    object-fit: cover;
 }

 @media only screen and (max-width: 500px) {
    .ProductImage {
        height: 300px;
        width: 100%;
    }
}

 .productDiv{
    width: 500px ;
    height: 500px ;
 }

 .productInfo{
padding: 40px 40px 40px 40px;
margin-left: 20px;
 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.200);
 }
 @media only screen and (max-width: 1020px) {
    .productInfo {
        margin-left: 0px;
    }
}

 @media only screen and (max-width: 500px) {
    .productInfo {
        margin-top: -200px;
    }
}
 /**
  * card
  */

.homeContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.inputDescription{
margin-left: 0px;
}

@media only screen and (max-width: 800px) {
    .homeContainer {
        width: 100%;
        justify-content: center;
    }
}
.top{
    width: 400px;
    margin: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.200);
}
.cardImage{
height: 300px;
width: 100%;
object-fit:cover;
}
.cardClick{
    color: #000 !important;
    text-decoration: none !important;
}

.addToCart{
    float: right;
    margin-top: 20px;
}
 
.pName{
    margin-left: 50px;
    margin-top: 30px;
}
@media only screen and (max-width: 500px) {
    .pName {
        margin-left: 10px
    }
}

 /**
  * product
  */
 .productCard{
    margin: 0px auto 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.200);
    padding: 20px 20px 20px 20px;
 }

 

 

 @media only screen and (max-width: 420px) {
    .top {
        width: 300px;
    }
}

 

 /* *********** shop page *********** */
 .rbox{
    padding-inline-start: 0px !important;
}

.searchBar{
    width: 75%;
    margin: 0 auto;
    padding-bottom: 25px;
    margin-top: 50px;
}

.searcContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .searcContainer > div {
    margin-left: 100px;
    width: 300px;

  }

  @media only screen and (max-width: 800px) {
    .searcContainer > div {
        margin-left: 0px;
    }
}
 /* *********** product page *********** */
 .productT{
    margin-right: auto;
    margin-left: auto;
     width: 75%;

}

.tablesize{
 
   width:25%
}

.table td, .table th {

 vertical-align: middle !important
   
}

.pag{
justify-content: center;
}

/* *******nav BAr******* */
.navAdjust{
    padding-right: 18px;
font-size: 20px;
}

.shadow{
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.400))
}

.shoppingCartImage{
    height: 50px;
    width: 50px;
  }

  .cartbutton{
    background-color: rgba(143,106,255,1);
    border-radius: 10px;
    color: white;
  }

  /* ************************ sign in ************* */
.sign{
    background-color: rgba(143,106,255,1);
    color: white !important;
    border-radius: 10px;
    padding: 25px 75px 75px 75px;
    width: 40%;
    margin-top: 50px;
    overflow:hidden ;
}

@media only screen and (max-width: 1024px) {
    .sign {
        width: 100%;
        padding: 20px 20px 20px 20px;
    }
}

/* **********admin page********** */
.adminContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
}

.adminContainer > div{
    margin: 10px;
    width: 500px
}

 /* ************test******** */
/* Footer legal */
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: white;
    
   
  }
  .ft-legal-list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    padding: 0px;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
   
  }
  /* one before the last child */
  /* .ft-legal-list li {

      
  } */

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #555;
    color: #bbb;
    line-height: 1;
  box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.200);
  
  }

  .fontF{
    color: rgba(143,106,255,1) !important;
  }
.icons{
   font-size: 36px;
   color: #000
}
  .eIcons{
    font-size: 28px;
    color: #000  
  }

 @-webkit-keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 
 @-moz-keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 
 @keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }

/* *********************** purchaseOrder page********* */
.order{
    margin-top: 25px;
    font-weight: bold;
    font-size: 40px;
    color: rgba(232,33,190,1);
}

.orderDate{
    font-size: 20px;
}

.orderFlexContainer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.orderFlexContainer>div{
    margin: 10px;
    width: 433px;
    height: 347px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.200);
}

.orderTitle{
    font-size: 30px; 
}

.infoContainer{
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
}

.pTable{
margin-top: 25px;
}